/* Default styles */
#hero-img {
    height: 70vh;
    background-image: url(El-Capitan.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section {
    position: relative;
}

#hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#text-center-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#high-sierra {
    padding-right: 20%;
}

#yosemite {
    padding-left: 10%;
    padding-right: 10%;
}

#el-capitan {
    padding-left: 20%;
}

#img-gallery-section {
    padding-bottom: 5rem;
}

#footer-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#footer {
    margin-top: 2rem;
}

/* Styles applied to screens larger than lg */
@media (min-width: 991.98px) {

    #content-div {
        margin-left: 20rem;
        margin-right: 20rem;
    }

    #content-div .gallery {
        height: 50vh;
        overflow: hidden;
        position: relative;
    }

    #content-div img {
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    #high-sierra {
        margin-bottom: 20%;
        padding: 0;
    }

    #yosemite {
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 0;
    }

    #el-capitan {
        margin-top: 20%;
        padding: 0;
    }

    #hero-section {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    nav {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    #text-center-section {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    #img-gallery-section {
        padding-bottom: 5rem;
    }

    #footer {
        margin-top: 5rem;
    }
}

/* Styles applied to screens between lg and xxl */
@media (min-width: 991.98px) {
    @media (max-width: 1399.98px) {
        #content-div {
            margin-left: 10rem;
            margin-right: 10rem;
        }

        #text-center-section {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
    }
}

/* Styles appplied to screens larger than xxl */
@media (min-width: 1399.98px) {
    #footer {
        margin-top: 8rem;
    }
}